.our-features {
  display: none;
}

@include desktop {
.our-features {
  display: flex;
  padding-top: 0px;
}

.features {
  display: flex;
  margin-top: 50px;
  gap: 30px;

  &__item {
    position: relative;
  }

  &__text {
    background-color: rgba(47, 48, 58, 0.8);
    color: var(--main-bg-color);
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 27px;
    display: flex;
    justify-content: center;

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
}