.logo {
    color: var(--accent-color);
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    @include desktop {
        font-size: 26px;
    }
}

.logo--dark {
    color: var(--logo-color);
}

.logo--light {
    color: var(--main-bg-color);
}